/* --- theme utilities : borders --- */

$border-test: 4px solid #D31E45;

$border--thin--mint: 1px solid $mint;
$border--medium--mint: 3px solid $mint;
$border--large--mint: 6px solid $mint;

$border--thin--mint-dark: 1px solid $mint-dark;
$border--medium--mint-dark: 3px solid $mint-dark;
$border--large--mint-dark: 6px solid $mint-dark;

$border--thin--pink: 1px solid $pink;
$border--medium--pink: 3px solid $pink;
$border--large--pink: 6px solid $pink;

$border--thin--burgundy: 1px solid $burgundy;
$border--medium--burgundy: 3px solid $burgundy;
$border--large--burgundy: 6px solid $burgundy;

$border--thin--gray-dark: 1px solid $gray-dark;
$border--medium--gray-dark: 3px solid $gray-dark;
$border--large--gray-dark: 6px solid $gray-dark;
