/* --- theme utilities : new breakpoints --- */

$grid-breakpoints: (
  xxs: 0,
  xs: 479px,
  sm: 599px,
  md: 839px,
  lg: 1023px,
  xl: 1279px,
  xxl: 1439px,
);


/* responsive helpers

// plus de 480 px
@include media-breakpoint-up(xs) {
}
// plus de 600 px
@include media-breakpoint-up(sm) {
}
// plus de 840 px
@include media-breakpoint-up(md) {
}
// plus de 1024 px
@include media-breakpoint-up(lg) {
}
// plus de 1280px
@include media-breakpoint-up(xl) {
}
// plus de 1440px
@include media-breakpoint-up(xxl) {
}

*/
