/* --- woocommerce page templates : cart --- */

.woocommerce-cart {

  .entry-header {
    font-family: $font-family-accent;
    text-align: center;
    font-style: italic;
    margin-bottom: 40px;
  }

}


table.shop_table {
  // border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 -1px 24px 0;
  text-align: left;
  width: 100%;
  border-collapse: separate;
  border-radius: 5px;

  th {
    font-weight: $font-weight-normal;
    text-transform: uppercase;
    padding: 9px 12px;
  }

  td {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 6px 12px;
    vertical-align: middle;
    img {
      width: 45%;
    }
    &.product-name {
      font-family: $font-family-accent;
      font-style: italic;
    }
  }



  tbody:first-child tr:first-child {
    th,
    td {
      border-top: 0;
    }
  }

  tfoot td,
  tfoot th,
  tbody th {
    font-weight: 700;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
